# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../myleetcode100\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\MyCode\myleetcode100\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
